<!-- Tainwindcss -->
<div class="flex flex-col mt-5">
  <div class="mx-auto">
    <h1><code>TreasuriesController#index</code></h1>
    <p>Find me in <code>app/views/treasuries/index.html.erb</code></p>
  </div>
</div>

